<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <title>Lista de usuários</title>

  <link rel="stylesheet" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">
  <script th:src="@{/jquery-3.6.1.min/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.min.js}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

</head>
<body>
<div th:replace="auth/auth-generica-nav :: navGenerica"></div>
<div class="container">
  <div class="row">

    <div class="col">
      <h1>Lista de Usuários</h1>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>E-mail</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${usuarios.empty}">
          <td colspan="2">Sem usuários</td>
        </tr>
        <tr th:each="usuario : ${usuarios}">

          <td><span th:text="${usuario.email}"> E-mail </span></td>

          <td>
            <a class="btn btn-outline-danger btn-sm"
               th:href="@{/usuario/admin/apagar/{id}(id=${usuario.id})}"
               th:data-confirm-delete="|Você gostaria de apagar ${usuario.nome}?|"
               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
              Apagar
            </a>
          </td>
          <td>
            <a class="btn btn-outline-primary btn-sm"
               th:href="@{/usuario/editar/{id}(id=${usuario.id})}">
              Editar</a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


</body>
</html>