<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina inicial</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.1.min/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.min.js}"></script>


</head>
<body>
<nav th:fragment="fragmentoNav1" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid col-11 m-auto">

        <a class="navbar-brand" href="#">Sistema de Cadastro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/fornecedor/novo}"> Novo fornecedor </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/fornecedor/listar}"> Listar Fornecedor </a>
                </li>

                <form th:action="@{/logout}" method="post" class="user-logout">
                    <input class="btn btn-outline-danger" type="submit" value="Logout"/>
                </form>




            </ul>
        </div>
    </div>
</nav>
</body>
</html>