<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Fornecedor</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.1-dist/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 th:text="${msnBemVindo}"></h2>
            <a class="btn btn-primary" th:href="@{/usuario/novo}"> Novo usuario </a>
        </div>
    </div>
</div>
</body>
