<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Cadastro</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.1-dist/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.min.js}"></script>

    <script>
        function confereSenha() {
            const senha = document.querySelector('input[name=senha]');
            const confirma = document.querySelector('input[name=confirma]');

            if (confirma.value === senha.value) {
                confirma.setCustomValidity('');
            } else {
                confirma.setCustomValidity('As senhas não conferem')
            }
        }
    </script>


    <style></style>
</head>
<body>
 <div th:insert="fragments/pagina-nav :: fragmentoNav"> </div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Cadastro de usuários</h2>
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <span th:text="${mensagem}"></span>
            </div>

            <form action="#" th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Email:</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="email" th:field="*{emailUsuario}" required/>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Senha:</label>
                    <div class="col-sm-2">

                        <input class="form-control" type="password" name="senha" autocomplete="off" th:field="*{senha}"
                               required minlength="4" maxlength="8" onchange='confereSenha()'/>

                        <div class="col-sm-5">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Confirma Senha:</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="password" name="confirma" autocomplete="off" required
                               minlength="4" maxlength="8" onchange='confereSenha()'/>
                    </div>

                    <div>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Gravar"/>
                        <a class="btn btn-primary" th:href="@{/home}"> Voltar </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>
