<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Cadastro</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.2-dist/css/bootstrap.min.css}">

    <style></style>
</head>
<body>
<div th:insert="fragments/pagina-nav :: fragmentoNav"></div><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Cadastro de usuários</h2>
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <form action="#" th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Email:</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="email" th:field="*{email}" required/>
                    </div>
                    <div class="col-sm-5">
                        <span class="mensagem" th:it="${emailExiste}" th:text="${emailExiste}"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">password:</label>
                    <div class="col-sm-2">

                        <input class="form-control" type="password" name="password" autocomplete="off" th:field="*{password}"
                               required minlength="4" maxlength="8" onchange='conferepassword()'/>

                        <div class="col-sm-5">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Confirma password:</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="password" name="confirma" autocomplete="off" required
                               minlength="4" maxlength="8" onchange='conferepassword()'/>
                    </div>

                    <div>
                        <br>
                        <input class="btn btn-primary" type="submit" th:href="@{/login}" value="Gravar"/>
                        <a class="btn btn-primary" th:href="@{/}"> Voltar </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

 <script th:src="@{/jquery-3.6.1.min/jquery-3.6.1.min.js}"></script>
 <script th:src="@{/bootstrap-5.2.2-dist/js/bootstrap.min.js}"></script>

 <script>
        function conferepassword() {
            const password = document.querySelector('input[name=password]');
            const confirma = document.querySelector('input[name=confirma]');

            if (confirma.value === password.value) {
                confirma.setCustomValidity('');
            } else {
                confirma.setCustomValidity('As passwords não conferem')
            }
        }
    </script>

</body>
</html>
