<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.2-dist/css/style.css}"/>


    <style>
        .mensagem {
            color: red;
        }
    </style>

    <head>



        <title>Cadastro</title>

<body>
<div th:insert="fragments/pagina-nav :: fragmentoNav"></div><br><br>

<div class="container" >

    <div class="row">
        <div class="col">

            <div class="alert alert-danger alert-dismissible fade show"
                 th:if="${param.error}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span>password ou usuário inválido</span>
            </div>
            <div class="card col-3 m-auto"/>
            <div class="card-body m-auto"/>
            <form th:action="@{/login}" method="post">

                <div class="row mb-12">
                    <label class=" col-form-label">Email:</label>
                    <div class="col">
                        <input class="form-control" type="text" name="email" id="email" required autofocus>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class=" col-form-label">password:</label>
                    <div class="col">
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                </div>

                <input class="btn btn-primary m-auto" type="submit" value="Entrar"/>
                <p class="ts-14-light ts-black m-auto"> <a href="/usuario/novo" class="ts-14-medium ts-dark-blue">Criar conta</a>


            </form>
        </div>
    </div>
</div>

</body>